{% load crispy_forms_tags %}
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" style="color:#2c3e4f" id="exampleModalLongTitle">Nueva Empresa</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <div id="errores">

    </div>
    <div class="modal-body py-80">
      <!--/home/registrarCliente/-->
      <form id="formCliente" action="/registrarCliente/" method="post">{% csrf_token %}
        <input type="hidden" name="persons_id" id="persons_id">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Razon Social</label>
            <input type="text" class="form-control" name="business_name" id="business_name" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputEmail4">DNI/CUIT</label>
            <input type="text" class="form-control"  maxlength="11"   minlength="11"name="cuit_cuil" id="cuit_cuil" required>
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Telefono</label>
            <input type="text" class="form-control" name="phone" id="phone" required>
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Celular</label>
            <input type="text" class="form-control" name="mobile" id="mobile" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputEmail4">Direccion</label>
            <input type="text" class="form-control" name="address" id="address" required>
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Altura</label>
            <input type="text" class="form-control" name="height" id="height" required>
          </div>
          <div class="form-group col-md-3">
            {{form.city_id|as_crispy_field}}
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Provincia</label>
            <input type="text" class="form-control" id="provincia_cliente" name="provincia_cliente" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputCity">Cuenta Bancaria</label>
            <input type="text" class="form-control" name="bank_account_id" id="bank_account_id" required>
          </div>
          <div class="form-group col-md-5">
            <label for="inputCity">Detalles</label>
            <input type="text" class="form-control" name="details" id="details" required>
          </div>
          <div class="form-group col-md-2" style="background-color:rgb(242, 248, 243);">
            <label for="inputCity">Estado</label>
            {{form.state|as_crispy_field}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</div>

{% block javascripts %}


<script src="{{ ASSETS_ROOT }}/js/main.js"></script>
<script>
console.log($('#formCliente').find('#id_city_id').val);
  var provincia_get_cliente = async (id) => {
    try {
      const response = await fetch(`/ciudad/${id}`);
      const data = await response.json();

      if (data.message === "Success") {
        ciudades = data.ciudad;
        console.log(ciudades)
        provincia_cliente.value = ciudades;
      } else {
        alert("ciudad no encontrado");
      }
    } catch (error) {
      console.log(error);
    }
  };
 
  var cargaCliente = async () => {
    id_city_id[1].addEventListener("change", (event) => {
      console.log("ok")
      provincia_get_cliente(event.target.value);
    });
  };
  
  cargaCliente();
    
  

</script>

{% endblock javascripts %}